{% extends 'base.html' %}

{% block title %}تأیید ایمیل{% endblock %}

{% block content %}
  <h2>کد ارسال‌شده به ایمیل را وارد کنید</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="code" placeholder="کد OTP" required>
    <button type="submit">تأیید</button>
  {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <p style="margin-top:10px; color:green;">{{ message }}</p>
            {% else %}
                <p style="margin-top:10px; color:red;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
  </form>
{% endblock %}
